.action-sheets-basic-page {
  .ion-md-share,
  .ion-md-create {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle,
  .ion-md-open {
    color: #508AE4;
  }
  .ion-md-heart-outline,
  .ion-md-notifications  {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}